<ng-template #themeSelectListTemplate>
  <ng-container *ngIf="(themes$ | async) as themes">
    <div *ngIf="themes?.length" class="container">
      <div class="close-icon-wrapper hover"  [routerLink]="['/calculator']">
        <i class="material-icons close-icon">close</i>
      </div>
      <div class="row" *ngFor="let theme of themes">
        <div class="col">
          <div class="col-content">
            <div class="color-box" [style.backgroundColor]="theme.mainBgColorHex"></div>
            <span>{{ theme.title }}</span>
          </div>
        </div>
        <div class="actions">
          <i class="material-icons hover mr-12">edit</i>
          <i class="material-icons delete-red hover">delete</i>
        </div>
      </div>
    </div>
    <div *ngIf="!themes?.length" class="no-themes">No themes available...</div>
  </ng-container>
</ng-template>

<ng-template #loader>
  Loading...
</ng-template>

<ng-container *ngIf="(loading$ | async); then loader; else themeSelectListTemplate;"></ng-container>

