@import 'src/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $header-padding-top;
}

.header-text {
  font-size: 1.5rem;
  margin-bottom: 30px;
  // color: $white;
}
