@import 'src/variables';

.page-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 8%;

  .calculator-and-themes {
    display: flex;

    .calculator-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .main {
        padding-top: 10px;
        border-radius: 5px;
        min-width: 260px;
        border: 2px solid $white;

        .display {
          text-align: end;
          padding-right: 10px;
          padding-bottom: 5px;
          padding-top: 26px;
          line-height: 1;
          height: 50px;
        }

        .regular-cell {
          padding: 12px 15px 12px 15px;
          font-size: 1.2rem;
          flex: 1;
        }

        .last-row-cell {
          padding: 12px 15px 16px 15px;
          font-size: 1.2rem;
        }

        .div-spacer {
          padding: 12px 17px 12px 17px;
        }

        .first-row {
          display: flex;
          justify-content: space-between;

          .back-arrow-wrapper {
            padding: 12px 15px 12px 15px;
            flex: 3;
            border-right: 2px solid $white;
            text-align: end;
            color: $app-main-color-light;

            &:hover {
              color: $white;
            }
          }
        }

        .digits-and-action {
          display: flex;
          justify-content: space-between;
        }

        .third-row {
          display: flex;
        }
      }
    }

    .select-theme-list {
      margin-left: 50px;
    }
  }
}

.b-t {
  border-top: 2px solid $white;
}

.b-r {
  border-right: 2px solid $white;
}

.b-b {
  border-bottom: 2px solid $white;
}

.b-l {
  border-left: 2px solid $white;
}

.clear {
  background-color: $app-main-color-light;
}

.flex-3 {
  flex: 3;
}

.flex-1 {
  flex: 1;
}

.flex-custom {
  flex: 0.52;
}
