<div class="calculator-wrapper">
  <div class="main">
    <div class="display b-b">{{ result }}</div>
    <div class="symbols-and-actions">
      <div class="first-row b-b">
        <div class="regular-cell b-r hover clear" (click)="handleButtonClick({ type: symbolType.CLEAR, value: 'C' })">C</div>
        <div class="regular-cell b-r-for-spacer"></div>
        <div class="regular-cell b-r"></div>
        <div class="regular-cell hover highlight flex-custom" (click)="handleButtonClick({ type: symbolType.OPERATION, value: '/' })">/</div>
      </div>
      <div class="digits-and-action b-b">
        <div class="regular-cell b-r hover" (click)="handleButtonClick({ type: symbolType.DIGIT, value: '7' })">7</div>
        <div class="regular-cell b-r hover" (click)="handleButtonClick({ type: symbolType.DIGIT, value: '8' })">8</div>
        <div class="regular-cell b-r hover" (click)="handleButtonClick({ type: symbolType.DIGIT, value: '9' })">9</div>
        <div class="regular-cell hover highlight" (click)="handleButtonClick({ type: symbolType.OPERATION, value: '*' })">*</div>
      </div>
      <div class="digits-and-action b-b">
        <div class="regular-cell b-r hover" (click)="handleButtonClick({ type: symbolType.DIGIT, value: '4' })">4</div>
        <div class="regular-cell b-r hover" (click)="handleButtonClick({ type: symbolType.DIGIT, value: '5' })">5</div>
        <div class="regular-cell b-r hover" (click)="handleButtonClick({ type: symbolType.DIGIT, value: '6' })">6</div>
        <div class="regular-cell highlight hover" (click)="handleButtonClick({ type: symbolType.OPERATION, value: '-' })">-</div>
      </div>
      <div class="digits-and-action b-b">
        <div class="regular-cell b-r hover" (click)="handleButtonClick({ type: symbolType.DIGIT, value: '1' })">1</div>
        <div class="regular-cell b-r hover" (click)="handleButtonClick({ type: symbolType.DIGIT, value: '2' })">2</div>
        <div class="regular-cell b-r hover" (click)="handleButtonClick({ type: symbolType.DIGIT, value: '3' })">3</div>
        <div class="regular-cell highlight hover" (click)="handleButtonClick({ type: symbolType.OPERATION, value: '+' })">+</div>
      </div>
      <div class="third-row">
        <div class="last-row-cell b-r flex-3 hover" (click)="handleButtonClick({ type: symbolType.DIGIT, value: '0' })">0</div>
        <div class="last-row-cell b-r flex-1 hover" (click)="handleButtonClick({ type: symbolType.DECIMAL_POINT, value: ',' })">,</div>
        <div class="last-row-cell highlight flex-1 hover" (click)="handleButtonClick({ type: symbolType.OPERATION, value: '=' })">=</div>
      </div>
    </div>
  </div>
</div>
