@font-face {
  font-family: 'SometypeMono';
  src:
    url('assets/fonts/Sometype_Mono/SometypeMono-Bold.ttf') format('truetype'),
    url('assets/fonts/Sometype_Mono/SometypeMono-BoldItalic.ttf') format('truetype'),
    url('assets/fonts/Sometype_Mono/SometypeMono-Italic-VariableFont_wght.ttf') format('truetype'),
    url('assets/fonts/Sometype_Mono/SometypeMono-Italic.ttf') format('truetype'),
    url('assets/fonts/Sometype_Mono/SometypeMono-Medium.ttf') format('truetype'),
    url('assets/fonts/Sometype_Mono/SometypeMono-MediumItalic.ttf') format('truetype'),
    url('assets/fonts/Sometype_Mono/SometypeMono-Regular.ttf') format('truetype'),
    url('assets/fonts/Sometype_Mono/SometypeMono-SemiBold.ttf') format('truetype'),
    url('assets/fonts/Sometype_Mono/SometypeMono-SemiBoldItalic.ttf') format('truetype'),
    url('assets/fonts/Sometype_Mono/SometypeMono-VariableFont_wght.ttf') format('truetype'); /* Add the .ttf format */
  font-weight: 400;
  font-style: normal;
}
