@import 'src/variables';
@import 'src/fonts.scss';
@import 'src/utils.scss';

body {
  font-family: 'SometypeMono', sans-serif;
}

button {
  font-family: 'SometypeMono', sans-serif;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.94;
  }
}

i {
  color: $app-green;
}
