@import 'src/variables';
@import 'src/fonts.scss';
@import 'src/utils.scss';

body {
  font-family: 'SometypeMono', sans-serif;
}

button {
  font-family: 'SometypeMono', sans-serif;
  border: none;
}
