/** reusable css classes **/

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.jc-sp-btw {
  justify-content: space-between;
}

.hover {
  &:hover {
    cursor: pointer;
    opacity: 0.94;
  }
}

/** margins **/
.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

/** paddings **/
.p-10 {
  padding: 10px;
}


/** font-sizes **/
.fs-16 {
  font-size: 16px;
}

.fs-1-5 {
  font-size: 1.5rem;
}
